.home_wrapper {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.parent_image_container {
  display: inline-block;
  position: relative;
}

.camera_image_container_0 {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.camera_image_container_1 {
  position: absolute;
  top: 50%;
  left: 20px;
  cursor: pointer;
}
.camera_image_container_2{
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: pointer;
}
.camera_image_container_3 {
  position: absolute;
  top: 20px;
  left: 50%;
  cursor: pointer;
}
.room_heading{
  text-align: center; 
  font-size: 50px
}
.room_second_heading{
  text-align: center;
   font-size: 30px;
}

@media (max-width: 767px) {
  .background_image {
    width: 100%;
  }
}
